@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right,#5958B0,#7A77F0,#807EFC,#6D6BD6,#393870);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #393870 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #393870;
    text-align: center;
    text-shadow: 1px 1px 2px #7A77F0;
}

h2{
    color: #6D6BD6 ;
}

p{
    text-align: justify;
}